@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap")
  @import
  url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
  @import
  url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap") * {
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1410px;
}
:root {
  --primary: #ff5538;
  --white: #ffffff;
  --black: #29313d;
}

/* ==================== Navbar CSS ==================== */
header {
  position: absolute;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
}
.nav-item {
  margin-left: 48px;
  font-size: 18px;
  font-weight: 500;
}
/* .nav-item a:hover {
  color: var(--primary);
} */
.navbarbtn {
  background: var(--primary);
  outline: none;
  font-size: 18px;
  font-weight: 500;
  padding: 13px 24px;
  border-radius: 10px;
}
/* ==================== Navbar CSS ==================== */
/* ==================== Bannar CSS ==================== */
#bannar {
  background: rgba(255, 85, 56, 0.25);
  position: relative;
}
.bannar__area {
  position: relative;
}
.bannartop {
  position: absolute;
}
.bannarbottom {
  position: absolute;
  bottom: -148px;
  right: 0;
}
.bannar__top__img{
  position: absolute;
  top: 265px;
  right: 210px;
}
.bannar__top__left__img{
  position: absolute;
  left: 100px;
  top: 200px;
}
.bannarleft {
  position: absolute;
  bottom: -47px;
  left: 0;
}
.bannar__area__text {
  text-align: center;
  padding-top: 293px;
  padding-bottom: 297px;
}
.bannarshape{
  position: absolute;
  top: 250px;
  left: 438px;
  z-index: -1;
}
.bannar__heading {
  font-size: 64px;
  font-weight: 700;
  color: var(--black);
  line-height: 130%;
  max-width: 771px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
.bannar__pera {
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  line-height: 200%;
  max-width: 547px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  margin-bottom: 44px;
}
.bannar__area__text a {
  background: var(--primary);
  border-radius: 18px;
  border: 1px solid transparent;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  color: var(--white);
  display: inline-block;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}
.bannar__btn__right {
  margin-left: 24px;
}
.bannar__area__text a:hover {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.bannar__item {
  background: var(--white);
  padding: 40px 30px;
  position: absolute;
  margin-top: -170px;
  row-gap: 30px;
}
.bannar__item__heading {
  font-size: 28px;
  font-weight: 600;
  line-height: 160%;
  color: var(--black);
  font-family: "Poppins", sans-serif;
  margin-top: 38px;
  margin-bottom: 16px;
}
.bannar__item__pera {
  font-size: 18px;
  font-weight: 400;
  line-height: 200%;
  color: var(--black);
  font-family: "Nunito", sans-serif;
  max-width: 374px;
}
/* ==================== Bannar CSS ==================== */
/* ==================== Connect CSS ==================== */
#connect {
  padding-top: 280px;
  position: relative;
}
.connect__top__right{
  position: absolute;
  top: 385px;
  right: 85px;
  z-index: -1;
}
.connectbottom {
  position: absolute;
  bottom: -230px;
  right: 0;
}
.connect__title__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  color: #ff5538;
}
.connect__heading {
  max-width: 449px;
  font-size: 48px;
  font-weight: 600;
  line-height: 140%;
  color: var(--black);
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  margin-bottom: 60px;
  text-transform: capitalize;
}
.connect_top{
  position: absolute;
  top: 418px;
  left: 940px;
  z-index: -1;
}
.connect__main{
  position: relative;
}
.connect__left{
  width: 45%;
  height: 512px;
}
.connect__left img{
  width: 100%;
  height: 100%;
}
.connect__right{
  width: 60%;
  background: rgba(251, 243, 240, .8);
  padding: 79px 0;
  top: -30px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.connect__right__text{
  margin-left: 185px;
}

.connect__bannar__heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 140%;
  color: var(--black);
  max-width: 530px;
  font-family: "Poppins", sans-serif;
}
.connect__bannar__pera {
  font-size: 18px;
  font-weight: 400;
  line-height: 200%;
  color: var(--black);
  max-width: 480px;
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
  margin-bottom: 48px;
}
.connect__right a {
  background: var(--primary);
  border-radius: 18px;

  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  color: var(--white);
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}
/* ==================== Connect CSS ==================== */
/* ==================== Counting CSS ==================== */
#counting {
  margin-top: 171px;
  position: relative;
}
.countingtop {
  position: absolute;
  top: -220px;
  left: 0;
  z-index: -1;
}
.counting__title {
  z-index: 999 !important;
}
.counting__title__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  color: #ff5538;
}
.counting__heading {
  max-width: 693px;
  font-size: 48px;
  font-weight: 600;
  line-height: 140%;
  color: var(--black);
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  margin-bottom: 60px;
}
.counting__title__item {
  display: flex;
  justify-content: space-between;
}
.counting__title__itembtn a {
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  text-decoration: none;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 18px;
  padding: 14px 28px;
  font-family: "Nunito", sans-serif;
}
.counting__title__itembtn a:hover {
  background: var(--primary);
  color: var(--white);
  border: 1px solid transparent;
}
.counting__title__itembtn {
  margin-top: 50px;
}
.row__item {
  row-gap: 30px;
}
.card-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 140%;
  color: var(--black);
  font-family: "Poppins", sans-serif;
}
.card-text {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
  line-height: 100%;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}
/* ==================== Counting CSS ==================== */
/* ==================== Hundred CSS ==================== */
#hundred {
  background: #fdf9f8;
  padding: 144px 0;
  position: relative;
}
.hundred__item__box {
  background: var(--white);
  text-align: center;
  padding: 74px 0;
}
.hundred__item__box h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 140%;
  color: var(--black);
  font-family: "Poppins", sans-serif;
}
.hundred__item__box h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: var(--black);
  font-family: "Nunito", sans-serif;
}
.hundred__item {
  margin-top: 30px;
}
.hundred__text {
  margin-left: 100px;
}
.hundred__text h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 140%;
  color: var(--black);
  max-width: 570px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.hundred__text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 200%;
  color: var(--black);
  max-width: 550px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 40px;
}
.hundred__text a {
  background: var(--primary);
  border-radius: 18px;

  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  color: var(--white);
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}
.hundredright {
  position: absolute;
  top: 0;
  right: 0;
}
/* ==================== Hundred CSS ==================== */
/* ==================== Sponser CSS ==================== */
#sponser {
  padding: 120px 0;
}
.sponser__title h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 140%;
  color: var(--black);
  max-width: 849px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.sponser__item {
  row-gap: 30px;
}
/* ==================== Sponser CSS ==================== */
/* ==================== Slider CSS ==================== */
#slider{
  background: #ff5538;
  padding: 120px 0;
}
.slider__main h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 140%;
  color: var(--black);
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  margin-bottom: 60px;
}
.slider__image__item img{
  margin-right: 28px;
}
.slider__image__item{
  margin-bottom: 60px;
}
.slider__main p{
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  color: var(--black);
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
  max-width: 690px;
  margin-bottom: 60px;
}
.slider__area h4{
  font-size: 36px;
  font-weight: 600;
  line-height: 180%;
  color: var(--black);
}
.prev__btn{
  top: 430px;
  left: 100px;
  
}
/* .previcon{
  color: white;
  background: black;
  padding: 15px;
} */
.next__btn{
  top: 430px;
  right: 900px;
}
/* ==================== Slider CSS ==================== */
/* ==================== Project CSS ==================== */
#project {
  padding: 100px 0;
  background: #ffd7c8;
  position: relative;
}
.project__title__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  color: var(--black);
  text-transform: capitalize;
}
.project__heading {
  max-width: 693px;
  font-size: 48px;
  font-weight: 600;
  line-height: 140%;
  color: var(--black);
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 60px;
}
.project__title__item {
  display: flex;
  justify-content: space-between;
}
.project__title__itembtn a {
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  text-decoration: none;
  background: var(--primary);
  color: var(--white);
  border-radius: 18px;
  padding: 14px 28px;
  font-family: "Nunito", sans-serif;
}
.project__line {
  width: 100%;
  height: 1px;
  background: var(--black);
}
.project__title p {
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  color: var(--black);
  font-family: "Nunito", sans-serif;
  max-width: 1243px;
  text-transform: capitalize;
  margin-top: 24px;
}
.projectr_top {
  position: absolute;
  top: 0;
  right: -210px;
}
/* ==================== Project CSS ==================== */
/* ==================== Footer CSS ==================== */
.footer__main {
  padding: 140px 0;
}
.footer__pera {
  max-width: 449px;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: var(--black);
  margin-top: 44px;
  font-family: "Nunito", sans-serif;
}
.footer__item h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 15px;
  color: var(--black);
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
.footer__item ul {
  font-size: 20px;
  font-weight: 400;
  line-height: 220%;
  color: var(--black);
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
}
.copyright__part {
  justify-content: space-between;
}
.copyright__part h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  color: var(--black);
  font-family: "Nunito", sans-serif;
}
.list__item {
  gap: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  color: var(--black);
  font-family: "Nunito", sans-serif;
}
/* ==================== Footer CSS ==================== */
